
<!doctype html>
<html class="no-js" lang="zxx">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>M&m's Garage</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="manifest" href="site.webmanifest">
<link rel="shortcut icon" type="image/x-icon" href="https://charan-31094.github.io/mohan/asset/img/favicon.ico">

<link rel="stylesheet" href="https://charan-31094.github.io/mohan/asset/css/bootstrap.min.css">
<link rel="stylesheet" href="https://charan-31094.github.io/mohan/asset/css/owl.carousel.min.css">
<link rel="stylesheet" href="https://charan-31094.github.io/mohan/asset/css/flaticon.css">
<link rel="stylesheet" href="https://charan-31094.github.io/mohan/asset/css/slicknav.css">
<link rel="stylesheet" href="https://charan-31094.github.io/mohan/asset/css/animate.min.css">
<link rel="stylesheet" href="https://charan-31094.github.io/mohan/asset/css/magnific-popup.css">
<link rel="stylesheet" href="https://charan-31094.github.io/mohan/asset/css/fontawesome-all.min.css">
<link rel="stylesheet" href="https://charan-31094.github.io/mohan/asset/css/themify-icons.css">
<link rel="stylesheet" href="https://charan-31094.github.io/mohan/asset/css/slick.css">
<link rel="stylesheet" href="https://charan-31094.github.io/mohan/asset/css/nice-select.css">
<link rel="stylesheet" href="https://charan-31094.github.io/mohan/asset/css/style.css">
<body>



<header>

<div class="header-area">
<div class="main-header header-sticky">
<div class="container-fluid">
<div class="menu-wrapper">

<div class="logo">
<a href="index.html"><img src="https://charan-31094.github.io/mohan/mm.png" alt=""></a>
</div>

<div class="main-menu d-none d-lg-block">

<nav>
<ul id="navigation">
<li><a href="/">Home</a></li>
<li><a href="categories">shop</a></li>
<li><a href="about">about</a></li>
<li class="hot"><a href="#">Products</a>
<ul class="submenu">
<li><a href="categories"> Product list</a></li>
<li><a href="spares"> Product Details</a></li>
</ul>
</li>
</li>

  <li><a href="#">Cart</a>
<ul class="submenu">
<li><a href="cart">Cart</a></li>
 <li><a href="showpayment">Payments</a> </li>
</ul>
</li>
<li><a href="contact">Contact</a></li>
</ul>
</nav>
</div>
<div class="header-right">
<ul>
<li>
<div class="nav-search search-switch">
</div>
</li>
<li> <a href="login"><span class="flaticon-user"></span></a></li>
<li><a href="cart"><span class="flaticon-shopping-cart"></span></a> </li>
</ul>
</div>
</div>

<div class="col-12">
<div class="mobile_menu d-block d-lg-none"></div>
</div>
</div>
</div>
</div>

</header>
<main>

<div class="slider-area ">
<div class="single-slider slider-height2 d-flex align-items-center">
<div class="container">
<div class="row">
<div class="col-xl-12">
<div class="hero-cap text-center">
<h2>About Us</h2>
</div>
</div>
</div>
</div>
</div>
</div>


<div class="about-details section-padding30">
<div class="container">
<div class="row">
<div class="offset-xl-1 col-lg-8">
<div class="about-details-cap mb-50">
<h4>Our Mission</h4>
<p>Consectetur adipiscing elit, sued do eiusmod tempor ididunt udfgt labore et dolore magna aliqua. Quis ipsum suspendisces gravida. Risus commodo viverra sebfd dho eiusmod tempor maecenas accumsan lacus. Risus commodo viverra sebfd dho eiusmod tempor maecenas accumsan lacus.
</p>
<p> Risus commodo viverra sebfd dho eiusmod tempor maecenas accumsan lacus. Risus commodo viverra sebfd dho eiusmod tempor maecenas accumsan.</p>
</div>
<div class="about-details-cap mb-50">
<h4>Our Vision</h4>
<p>Consectetur adipiscing elit, sued do eiusmod tempor ididunt udfgt labore et dolore magna aliqua. Quis ipsum suspendisces gravida. Risus commodo viverra sebfd dho eiusmod tempor maecenas accumsan lacus. Risus commodo viverra sebfd dho eiusmod tempor maecenas accumsan lacus.
</p>
<p> Risus commodo viverra sebfd dho eiusmod tempor maecenas accumsan lacus. Risus commodo viverra sebfd dho eiusmod tempor maecenas accumsan.</p>
</div>
</div>
</div>
</div>
</div>

</main>


<div class="search-model-box">
<div class="h-100 d-flex align-items-center justify-content-center">
<div class="search-close-btn">+</div>
<form class="search-model-form">
<input type="text" id="search-input" placeholder="Searching key.....">
</form>
</div>
</div>


<script src="https://charan-31094.github.io/mohan/asset/js/vendor/modernizr-3.5.0.min.js"></script>

<script src="https://charan-31094.github.io/mohan/asset/js/vendor/jquery-1.12.4.min.js"></script>
<script src="https://charan-31094.github.io/mohan/asset/js/popper.min.js"></script>
<script src="https://charan-31094.github.io/mohan/asset/js/bootstrap.min.js"></script>

<script src="https://charan-31094.github.io/mohan/asset/js/jquery.slicknav.min.js"></script>

<script src="https://charan-31094.github.io/mohan/asset/js/owl.carousel.min.js"></script>
<script src="https://charan-31094.github.io/mohan/asset/js/slick.min.js"></script>

<script src="https://charan-31094.github.io/mohan/asset/js/wow.min.js"></script>
<script src="https://charan-31094.github.io/mohan/asset/js/animated.headline.js"></script>
<script src="https://charan-31094.github.io/mohan/asset/js/jquery.magnific-popup.js"></script>

<script src="https://charan-31094.github.io/mohan/asset/js/jquery.scrollUp.min.js"></script>
<script src="https://charan-31094.github.io/mohan/asset/js/jquery.nice-select.min.js"></script>
<script src="https://charan-31094.github.io/mohan/asset/js/jquery.sticky.js"></script>

<script src="https://charan-31094.github.io/mohan/asset/js/contact.js"></script>
<script src="https://charan-31094.github.io/mohan/asset/js/jquery.form.js"></script>
<script src="https://charan-31094.github.io/mohan/asset/js/jquery.validate.min.js"></script>
<script src="https://charan-31094.github.io/mohan/asset/js/mail-script.js"></script>
<script src="https://charan-31094.github.io/mohan/asset/js/jquery.ajaxchimp.min.js"></script>

<script src="https://charan-31094.github.io/mohan/asset/js/plugins.js"></script>
<script src="https://charan-31094.github.io/mohan/asset/js/main.js"></script>


</body>
</html>