
<!doctype html>
<html class="no-js" lang="zxx">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>m&m's</title><meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="manifest" href="site.webmanifest">
<link rel="shortcut icon" type="image/x-icon" href="https://charan-31094.github.io/mohan/asset/img/favicon.ico">

<link rel="stylesheet" href="https://charan-31094.github.io/mohan/asset/css/bootstrap.min.css">
<link rel="stylesheet" href="https://charan-31094.github.io/mohan/asset/css/owl.carousel.min.css">
<link rel="stylesheet" href="https://charan-31094.github.io/mohan/asset/css/flaticon.css">
<link rel="stylesheet" href="https://charan-31094.github.io/mohan/asset/css/slicknav.css">
<link rel="stylesheet" href="https://charan-31094.github.io/mohan/asset/css/animate.min.css">
<link rel="stylesheet" href="https://charan-31094.github.io/mohan/asset/css/magnific-popup.css">
<link rel="stylesheet" href="https://charan-31094.github.io/mohan/asset/css/fontawesome-all.min.css">
<link rel="stylesheet" href="https://charan-31094.github.io/mohan/asset/css/themify-icons.css">
<link rel="stylesheet" href="https://charan-31094.github.io/mohan/asset/css/slick.css">
<link rel="stylesheet" href="https://charan-31094.github.io/mohan/asset/css/nice-select.css">
<link rel="stylesheet" href="https://charan-31094.github.io/mohan/asset/css/style.css">
<body>



<header>

<div class="header-area">
<div class="main-header header-sticky">
<div class="container-fluid">
<div class="menu-wrapper">

<div class="logo">
<a href="/"><img src="https://charan-31094.github.io/mohan/mm.png" alt=""></a>
</div>

<div class="main-menu d-none d-lg-block">


<nav>
<ul id="navigation">
<li><a href="/">Home</a></li>
<li><a href="categories">shop</a></li>
<li><a href="about">about</a></li>
<li class="hot"><a href="#">Products</a>
<ul class="submenu">
<li><a href="categories"> Product list</a></li>
<li><a href="spares"> Product Details</a></li>

</ul>

</li>
</li>

  <li><a href="#">Cart</a>
<ul class="submenu">
<li><a href="cart">Cart</a></li>
 <li><a href="showpayment">Payments</a> </li>
</ul>
</li>
<li><a href="contact">Contact</a></li>
   <li><a href="logout">logout</a></li>
</ul>

</nav>
</div>
<div class="header-right">
<ul>
<li>
<div class="nav-search search-switch">
</div>
</li>
<li> <a href="login"><span class="flaticon-user"></span></a></li>
<li><a href="cart"><span class="flaticon-shopping-cart"></span></a> </li>
</ul>
</div>
</div>

<div class="col-12">
<div class="mobile_menu d-block d-lg-none"></div>
</div>
</div>
</div>
</div>

</header>
<!--<li><a href="#">Pages</a>-->
<!--<ul class="submenu">-->
<!--<li><a href="login.html">Login</a></li>-->
<!--<li><a href="cart.html">Cart</a></li>-->
<!--<li><a href="elements.html">Element</a></li>-->
<!--<li><a href="confirmation.html">Confirmation</a></li>-->
<!--<li><a href="checkout.html">Product Checkout</a></li>-->
<!--</ul>-->
<!--</li>-->
<main>

<div class="slider-area ">
<div class="slider-active">

<div class="single-slider slider-height d-flex align-items-center slide-bg">
<div class="container">
<div class="row justify-content-between align-items-center">
<div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
<div class="hero__caption">
  <h1 data-animation="fadeInLeft" data-delay=".4s" data-duration="2000ms">"About The Fit"
    <br><h1>Find The part that Suits  </h1>
  </h1>
  <p data-animation="fadeInLeft" data-delay=".7s" data-duration="2000ms">Select the perfect part that fit Your AutoMobile</p>
<div class="hero__btn" data-animation="fadeInLeft" data-delay=".8s" data-duration="2000ms">
<a href="/" class="btn hero-btn">Shop Now</a>
</div>
</div>
</div>
<div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 d-none d-sm-block">
<div class="hero__img" data-animation="bounceIn" data-delay=".4s">
<img src="https://purepng.com/public/uploads/large/purepng.com-red-porsche-911-gt3-rs-4-carcarvehicletransportporsche-961524661235vbivb.png" alt="" class=" heartbeat">
</div>
</div>
</div>
</div>
</div>

<div class="single-slider slider-height d-flex align-items-center slide-bg">
<div class="container">
<div class="row justify-content-between align-items-center">
<div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
<div class="hero__caption">
<h1 data-animation="fadeInLeft" data-delay=".4s" data-duration="2000ms">"About The Fit"</h1>
<p data-animation="fadeInLeft" data-delay=".7s" data-duration="2000ms">Select the perfect part that fit Your AutoMobile</p>

<div class="hero__btn" data-animation="fadeInLeft" data-delay=".8s" data-duration="2000ms">
<a href="industries.html" class="btn hero-btn">Shop Now</a>
</div>
</div>
</div>
<div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 d-none d-sm-block">
<div class="hero__img" data-animation="bounceIn" data-delay=".4s">
<img src="https://purepng.com/public/uploads/large/mercedes-amg-sport-30l-v6-supercharged-e4s.png" alt="" class=" heartbeat">
</div>
</div>
</div>
</div>
</div>
</div>
</div>




<script src="https://charan-31094.github.io/mohan/asset/js/vendor/modernizr-3.5.0.min.js"></script>

<script src="https://charan-31094.github.io/mohan/asset/js/vendor/jquery-1.12.4.min.js"></script>
<script src="https://charan-31094.github.io/mohan/asset/js/popper.min.js"></script>
<script src="https://charan-31094.github.io/mohan/asset/js/bootstrap.min.js"></script>

<script src="https://charan-31094.github.io/mohan/asset/js/jquery.slicknav.min.js"></script>

<script src="https://charan-31094.github.io/mohan/asset/js/owl.carousel.min.js"></script>
<script src="https://charan-31094.github.io/mohan/asset/js/slick.min.js"></script>

<script src="https://charan-31094.github.io/mohan/asset/js/wow.min.js"></script>
<script src="https://charan-31094.github.io/mohan/asset/js/animated.headline.js"></script>
<script src="https://charan-31094.github.io/mohan/asset/js/jquery.magnific-popup.js"></script>

<script src="https://charan-31094.github.io/mohan/asset/js/jquery.scrollUp.min.js"></script>
<script src="https://charan-31094.github.io/mohan/asset/js/jquery.nice-select.min.js"></script>
<script src="https://charan-31094.github.io/mohan/asset/js/jquery.sticky.js"></script>

<script src="https://charan-31094.github.io/mohan/asset/js/contact.js"></script>
<script src="https://charan-31094.github.io/mohan/asset/js/jquery.form.js"></script>
<script src="https://charan-31094.github.io/mohan/asset/js/jquery.validate.min.js"></script>
<script src="https://charan-31094.github.io/mohan/asset/js/mail-script.js"></script>
<script src="https://charan-31094.github.io/mohan/asset/js/jquery.ajaxchimp.min.js"></script>

<script src="https://charan-31094.github.io/mohan/asset/js/plugins.js"></script>
<script src="https://charan-31094.github.io/mohan/asset/js/main.js"></script>


</body>
</html>