{% extends 'base.html' %}

{% block content %}
<div class="card">
    <h2>New Password</h2>
    <form method="post" action="{% url 'new_password' %}">
        {% csrf_token %}
        <label for="password">New Password:</label><br>
        <input type="password" name="password" id="password" required><br><br>
        <label for="confirm_password">Confirm New Password:</label><br>
        <input type="password" name="confirm_password" id="confirm_password" required><br><br>
        <input type="submit" value="Submit">
    </form>
</div>
{% endblock %}