


<!doctype html>
<html lang="zxx">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>M&m's Garage</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="manifest" href="site.webmanifest">
<link rel="shortcut icon" type="image/x-icon" href="https://charan-31094.github.io/mohan/asset/img/favicon.ico">

<link rel="stylesheet" href="https://charan-31094.github.io/mohan/asset/css/bootstrap.min.css">
<link rel="stylesheet" href="https://charan-31094.github.io/mohan/asset/css/owl.carousel.min.css">
<link rel="stylesheet" href="https://charan-31094.github.io/mohan/asset/css/flaticon.css">
<link rel="stylesheet" href="https://charan-31094.github.io/mohan/asset/css/slicknav.css">
<link rel="stylesheet" href="https://charan-31094.github.io/mohan/asset/css/animate.min.css">
<link rel="stylesheet" href="https://charan-31094.github.io/mohan/asset/css/magnific-popup.css">
<link rel="stylesheet" href="https://charan-31094.github.io/mohan/asset/css/fontawesome-all.min.css">
<link rel="stylesheet" href="https://charan-31094.github.io/mohan/asset/css/themify-icons.css">
<link rel="stylesheet" href="https://charan-31094.github.io/mohan/asset/css/slick.css">
<link rel="stylesheet" href="https://charan-31094.github.io/mohan/asset/css/nice-select.css">
<link rel="stylesheet" href="https://charan-31094.github.io/mohan/asset/css/style.css">
<body>
<header>

<div class="header-area">
<div class="main-header header-sticky">
<div class="container-fluid">
<div class="menu-wrapper">

<div class="logo">
<a href="index.html"><img src="https://charan-31094.github.io/mohan/mm.png" alt=""></a>
</div>

<div class="main-menu d-none d-lg-block">
<div class="main-menu d-none d-lg-block">


<nav>
<ul id="navigation">
<li><a href="/">Home</a></li>
<li><a href="about">about</a></li>
    <li><a href="login">Login</a></li>
    <li><a href="registration">Register</a></li>


</li>
</li>


</ul>
</nav>
</div>

</div>
</div>

<div class="col-12">
<div class="mobile_menu d-block d-lg-none"></div>
</div>
</div>
</div>
</div>

</header>
<main>

<div class="slider-area ">
<div class="single-slider slider-height2 d-flex align-items-center">
<div class="container">
<div class="row">
<div class="col-xl-12">
<div class="hero-cap text-center">
<h2>Register</h2>
</div>
</div>
</div>
</div>
</div>
</div>


<section class="login_part section_padding ">
<div class="container">
<div class="row align-items-center">
<div class="col-lg-6 col-md-6">
<div class="login_part_text text-center">
<div class="login_part_text_iner">
<h2>Already have an account?</h2>
<p>There are advances being made in science and technology
everyday, and a good example of this is the</p>
<a href="/login" class="btn_3">Login</a>
</div>
</div>
</div>
<div class="col-lg-6 col-md-6">
<div class="login_part_form">
<div class="login_part_form_iner">
<h3>Please Register <br>
To Continue Shopping</h3>



<form class="row contact_form" action="{% url 'saveUser' %}" method="post">
    {% csrf_token %}
<div class="col-md-12 form-group p_star">
<input type="text" class="form-control" id="name" name="name" placeholder="Name" required="required">
</div>

<div class="col-md-12 form-group p_star">
<input type="email" class="form-control"  name="email"  placeholder="Email" required="required">
</div>

<div class="col-md-12 form-group p_star">
<input type="text" class="form-control" name="username" placeholder="Username" required="required">
</div>

    <div class="col-md-12 form-group p_star">
<input type="password" class="form-control"  name="password"  placeholder="Password" required="required">
</div>

<div class="col-md-12 form-group">
<div class="creat_account d-flex align-items-center">
<input type="checkbox" id="f-option" name="selector">
<label for="f-option">Remember me</label>
</div>
<button type="submit" value="submit" class="btn_3">
Register
 </button>

</div>
</form>



</div>
</div>
</div>
</div>
</div>
</section>

</main>



<script src="https://charan-31094.github.io/mohan/asset/js/vendor/modernizr-3.5.0.min.js"></script>

<script src="https://charan-31094.github.io/mohan/asset/js/vendor/jquery-1.12.4.min.js"></script>
<script src="https://charan-31094.github.io/mohan/asset/js/popper.min.js"></script>
<script src="https://charan-31094.github.io/mohan/asset/js/bootstrap.min.js"></script>

<script src="https://charan-31094.github.io/mohan/asset/js/jquery.slicknav.min.js"></script>

<script src="https://charan-31094.github.io/mohan/asset/js/owl.carousel.min.js"></script>
<script src="https://charan-31094.github.io/mohan/asset/js/slick.min.js"></script>

<script src="https://charan-31094.github.io/mohan/asset/js/wow.min.js"></script>
<script src="https://charan-31094.github.io/mohan/asset/js/animated.headline.js"></script>

<script src="https://charan-31094.github.io/mohan/asset/js/jquery.scrollUp.min.js"></script>
<script src="https://charan-31094.github.io/mohan/asset/js/jquery.nice-select.min.js"></script>
<script src="https://charan-31094.github.io/mohan/asset/js/jquery.sticky.js"></script>
<script src="https://charan-31094.github.io/mohan/asset/js/jquery.magnific-popup.js"></script>

<script src="https://charan-31094.github.io/mohan/asset/js/contact.js"></script>
<script src="https://charan-31094.github.io/mohan/asset/js/jquery.form.js"></script>
<script src="https://charan-31094.github.io/mohan/asset/js/jquery.validate.min.js"></script>
<script src="https://charan-31094.github.io/mohan/asset/js/mail-script.js"></script>
<script src="https://charan-31094.github.io/mohan/asset/js/jquery.ajaxchimp.min.js"></script>

<script src="https://charan-31094.github.io/mohan/asset/js/plugins.js"></script>
<script src="https://charan-31094.github.io/mohan/asset/js/main.js"></script>

</body>
</html>