
<!doctype html>
<html lang="zxx">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>M&m's Wallet</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="manifest" href="site.webmanifest">
<link rel="shortcut icon" type="image/x-icon" href="https://charan-31094.github.io/mohan/asset/img/favicon.ico">

<link rel="stylesheet" href="https://charan-31094.github.io/mohan/asset/css/bootstrap.min.css">
<link rel="stylesheet" href="https://charan-31094.github.io/mohan/asset/css/owl.carousel.min.css">
<link rel="stylesheet" href="https://charan-31094.github.io/mohan/asset/css/flaticon.css">
<link rel="stylesheet" href="https://charan-31094.github.io/mohan/asset/css/slicknav.css">
<link rel="stylesheet" href="https://charan-31094.github.io/mohan/asset/css/animate.min.css">
<link rel="stylesheet" href="https://charan-31094.github.io/mohan/asset/css/magnific-popup.css">
<link rel="stylesheet" href="https://charan-31094.github.io/mohan/asset/css/fontawesome-all.min.css">
<link rel="stylesheet" href="https://charan-31094.github.io/mohan/asset/css/themify-icons.css">
<link rel="stylesheet" href="https://charan-31094.github.io/mohan/asset/css/slick.css">
<link rel="stylesheet" href="https://charan-31094.github.io/mohan/asset/css/nice-select.css">
<link rel="stylesheet" href="https://charan-31094.github.io/mohan/asset/css/style.css">
<body>
<header>

<div class="header-area">
<div class="main-header header-sticky">
<div class="container-fluid">
<div class="menu-wrapper">

<div class="logo">
<a href="index.html"><img src="https://charan-31094.github.io/mohan/mm.png" alt=""></a>
</div>

<div class="main-menu d-none d-lg-block">
<nav>
<ul id="navigation">
<li><a href="/">Home</a></li>
<li><a href="/categories">shop</a></li>
<li><a href="/about">about</a></li>
<li class="hot"><a href="#">Products</a>
<ul class="submenu">
<li><a href="/categories"> Product list</a></li>
<li><a href="/spares"> Product Details</a></li>
</ul>
</li>
</li>

  <li><a href="#">Cart</a>
<ul class="submenu">
<li><a href="/cart">Cart</a></li>
 <li><a href="/showpayment">Payments</a> </li>
</ul>
</li>
<li><a href="/contact">Contact</a></li>
</ul>
</nav>
</div>
<div class="header-right">
<ul>
<li>
<div class="nav-search search-switch">
</div>
</li>
<li> <a href="/login"><span class="flaticon-user"></span></a></li>
<li><a href="/cart"><span class="flaticon-shopping-cart"></span></a> </li>
</ul>
</div>
</div>

<div class="col-12">
<div class="mobile_menu d-block d-lg-none"></div>
</div>
</div>
</div>
</div>

</header>
<main>

<div class="slider-area ">
<div class="single-slider slider-height2 d-flex align-items-center">
<div class="container">
<div class="row">
<div class="col-xl-12">
<div class="hero-cap text-center">
<h2>m&m's Wallet</h2>
</div>
</div>
</div>
</div>
</div>
</div>

<section class="confirmation_part section_padding">
<div class="container">
<div class="row">
<div class="col-lg-12">
<div class="confirmation_tittle">
<span>{{msg}}</span>
</div>
</div>
</div>
</div>
<style>
    .centr{
        margin: auto;
  width: 60%;
  padding: 100px;

    }
    .centre{
        margin: auto;
  width: 60%;
  padding: 10px;

    }
    .cen{
        border-color: black;
        border-width: 2px;
    }
</style>

<div class="centr">
    <h4  class="centre">Wallet Balance : {{p.wallet}}</h4><br>
<input class="genric-btn  circle arrow e-large" class="centre" class="cen" placeholder="0" class="form-control" style='width: 350px;
align-items: center; align-self:center;' type="number" id="pay"/>
    <input class="genric-btn danger circle arrow" type="button"  value="Add Money To Wallet" onclick="pay()"></div>
<div class="centre" id="paypal-button-container"></div>

<!-- Include the PayPal JavaScript SDK -->
<script
    src="https://www.paypal.com/sdk/js?client-id=AaVtvnf7xmyD21XNNlGdROavvkIx5hBVbW2sw5JLJiqfvwT8MyBaii3aMRa-FGF4D_kTLhdijfDX1k_d&currency=USD">
</script>

<script>

function pay(){
    var pay = document.getElementById("pay");
    console.log(pay)
    // Render the PayPal button into #paypal-button-container
    paypal.Buttons({

        // Set up the transaction
        createOrder: function (data, actions) {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value:pay.value
                    }
                }]
            });
        },

        // Finalize the transaction
        onApprove: function (data, actions) {
            return actions.order.capture().then(function (details) {
                 window.location.href='/addwalletpayment/'+details.id+'/'+pay.value
                // Show a success message to the buyer


            });
        }


    }).render('#paypal-button-container');}
</script>

</div>
<div class="row">
<div class="col-lg-12">
<div class="order_details_iner">
<h3>My Wallet Payments</h3>
<table class="table table-borderless">
<thead>
<tr>
<th scope="col" colspan="2">Date/Time</th>
<th scope="col">Amount</th>
<th scope="col">Reference ID</th>
</tr>
</thead>


<tbody>

{% for p in l %}
<tr>
<th colspan="2"><span>{{p.created_at}}</span></th>
<th>{{p.amount}}</th>
<th> <span>{{p.payid}}</span></th>
</tr>
{% endfor %}
</tbody>
<tfoot>
<tr>

</tr>
</tfoot>
</table>
</div>
</div>
</div>
</div>
</section>

</main>

</div>
</div>


<script src="https://charan-31094.github.io/mohan/asset/js/vendor/modernizr-3.5.0.min.js"></script>

<script src="https://charan-31094.github.io/mohan/asset/js/vendor/jquery-1.12.4.min.js"></script>
<script src="https://charan-31094.github.io/mohan/asset/js/popper.min.js"></script>
<script src="https://charan-31094.github.io/mohan/asset/js/bootstrap.min.js"></script>

<script src="https://charan-31094.github.io/mohan/asset/js/jquery.slicknav.min.js"></script>

<script src="https://charan-31094.github.io/mohan/asset/js/owl.carousel.min.js"></script>
<script src="https://charan-31094.github.io/mohan/asset/js/slick.min.js"></script>

<script src="https://charan-31094.github.io/mohan/asset/js/wow.min.js"></script>
<script src="https://charan-31094.github.io/mohan/asset/js/animated.headline.js"></script>
<script src="https://charan-31094.github.io/mohan/asset/js/jquery.magnific-popup.js"></script>

<script src="https://charan-31094.github.io/mohan/asset/js/jquery.scrollUp.min.js"></script>
<script src="https://charan-31094.github.io/mohan/asset/js/jquery.nice-select.min.js"></script>
<script src="https://charan-31094.github.io/mohan/asset/js/jquery.sticky.js"></script>

<script src="https://charan-31094.github.io/mohan/asset/js/contact.js"></script>
<script src="https://charan-31094.github.io/mohan/asset/js/jquery.form.js"></script>
<script src="https://charan-31094.github.io/mohan/asset/js/jquery.validate.min.js"></script>
<script src="https://charan-31094.github.io/mohan/asset/js/mail-script.js"></script>
<script src="https://charan-31094.github.io/mohan/asset/js/jquery.ajaxchimp.min.js"></script>

<script src="https://charan-31094.github.io/mohan/asset/js/plugins.js"></script>
<script src="https://charan-31094.github.io/mohan/asset/js/main.js"></script>

</body>
</html>
